{% load static %}
<section class="pt-1 pb-3 mb-3 border-bottom">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <h3 class="text-uppercase border-bottom pb-3 mb-4">
                    🐶 LA PATRULLA CANINA 🐕‍🦺 🐕
                </h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col mb-3">
                <div class="card border border-0 bg-transparent h-100 align-items-center pt-3">
                    <img
                        src="{% static 'img/img-face-1.jpg' %}"
                        class="bd-placeholder-img rounded-circle"
                        alt="Schnauzer face"
                        width="200"
                        height="200"
                    />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Mafalda</h5>
                        <h2 class="">La más loca</h2>
                        <p class="card-text mb-4">Tambien conocida como la "Batichica"...</p>
                        <a
                            href="#"
                            class="link-underline link-underline-opacity-0 mt-auto align-self-end"
                            >Conóceme <i class="fa-solid fa-angles-right"></i></a
                        >
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col mb-3">
                <div class="card border border-0 bg-transparent  h-100 align-items-center pt-3">
                    <img
                        src="{% static 'img/img-face-2.jpg' %}"
                        class="bd-placeholder-img rounded-circle"
                        alt="Schnauzer face"
                        width="200"
                        height="200"
                    />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Titán</h5>
                        <h2 class="">El mamón</h2>
                        <p class="card-text mb-4">
                            Es el mas dócil y tranquilo, todo el dia hechado. Aaa!
                            pero paa exigir paseos...
                        </p>
                        <a
                            href="#"
                            class="link-underline link-underline-opacity-0 mt-auto align-self-end"
                            >Conóceme <i class="fa-solid fa-angles-right"></i></a
                        >
                    </div>
                </div>
            </div>
            <!--ADD CLASSES HERE d-flex align-items-stretch-->
            <div class="col mb-3">
                <div class="card bg-transparent border border-0 h-100 align-items-center pt-3">
                    <img
                        src="{% static 'img/img-face-3.jpg' %}"
                        class="bd-placeholder-img rounded-circle"
                        alt="Schnauzer face"
                        width="200"
                        height="200"
                    />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Rufina</h5>
                        <h2 class="">La rabiosa</h2>
                        <p class="card-text mb-4">
                            La madre de las otras 2 bestias, es la más seria, pero
                            muy cariñosa. Le gusta que le hagan cariño en la
                            "guata"...
                        </p>
                        <a
                            href="#"
                            class="link-underline link-underline-opacity-0 mt-auto align-self-end"
                            >Conóceme <i class="fa-solid fa-angles-right"></i></a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
