<footer class="p-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item border-end">
                <a class="nav-link link-secondary" href="#">Privacy policy</a>
            </li>
            <li class="nav-item border-end">
                <a class="nav-link link-secondary" href="#">Terms</a>
            </li>
            <li class="nav-item border-end">
                <a class="nav-link link-secondary" href="#">Feedback</a>
            </li>
            <li class="nav-item border-end">
                <a class="nav-link link-secondary" href="#">Advertise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-secondary" href="page-contact.html">Contact</a>
            </li>
        </ul>
        <div class="text-center text-secondary">
            © Blayden 2024<br />
            All rights reserved
        </div>
    </div>
</footer>
